[Unit]
Description=Prometheus Exporter for hdparm Disk Metrics
After=network.target

[Service]
User=hdparm_exporter
ExecStart=/bin/python3 /opt/hdparm_prometheus_exporter/hdparm_exporter.py
Environment="PYTHONPATH=/usr/local/lib/python3.6/site-packages:/usr/local/lib/python3.7/site-packages:/usr/local/lib/python3.8/site-packages:/usr/local/lib/python3.9/site-packages:/usr/local/lib/python3.10/site-packages"
Restart=always

[Install]
WantedBy=multi-user.target
